{% extends "evedb/base.html" %}
{% block lng %}ru{% endblock lng %}
{% block description %}Сайт содержит статическую информацию о внутриигровых объектах онлайн игры EVE Online{% endblock description %}
{% block title %}EVE DB - Главная{% endblock title %}
{% block content %}
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
{% endblock content %}