{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="{% block lng %}{% endblock lng %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
	
    <title>{% block title %}{% endblock title %}</title>

	{% bootstrap_css %}
	
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <form class="form-signin">
        <label for="placeholder" class="sr-only">Логин</label>
        <input type="text" id="username" class="form-control" placeholder="Логин" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>
    </div>

	{% bootstrap_javascript %}	
  </body>
</html>
