{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
	
    <title>Авторизация - EVE DB</title>

	{% bootstrap_css %}
	
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<div class="container">
		<div class="login-row">
			<a class="login-link" href="{% url 'evedb:index' %}">Назад</a>
		</div>
		<form class="form-signin" method="post" action="{% url 'evedb:login' %}">
			{% if form.errors %}
				<p class="bg-danger">Неправильное имя или пароль</p>
			{% endif %}
			{% csrf_token %}
			<label for="placeholder" class="sr-only">Логин</label>
			<input type="text" name="username" id="id_username" class="form-control" placeholder="Логин" required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" id="id_password" class="form-control" placeholder="Пароль" required>		
			<button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
			<input type="hidden" name="next" value="{% url 'evedb:index' %}" />
		</form>
	</div>
	
	{% bootstrap_javascript %}	
  </body>
</html>