{% extends "evedb/base.html" %}
{% block lng %}ru{% endblock lng %}
{% block description %}Сайт содержит статическую информацию о внутриигровых объектах онлайн игры EVE Online{% endblock description %}
{% block title %}Авторизация - EVE DB{% endblock title %}
{% block content %}
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<form method="post" action="{% url 'evedb:login' %}">
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit">log in</button>
		<input type="hidden" name="next" value="{% url 'evedb:index' %}" />
	</form>
{% endblock content %}