.starter-template {
	padding: 10px 15px;
	text-align: center;
}

.login-row {
	text-align: right;
	padding-bottom: 3px 0px 3px 0px;
}

.common-left-template {
	padding: 10px 15px;
	text-align: left;
}

.login-link {
	color: #777;
	font-size: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 100px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}