.starter-template {
  padding: 10px 15px;
  text-align: center;
}

.login-row {
  text-align: right;
  padding-bottom: 3px 0px 3px 0px;
}

.git-template {
  padding: 10px 15px;
  text-align: left;
}

.login-link {
	color: #777;
	font-size: 10px;
}